<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEGA BYTES ADMIN</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.1.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='webapp.css') }}">
</head>

<body>
    <div class="page">
        <h1>MEGA BYTES ADMIN</h1>


        <div class="pcss3t pcss3t-effect-scale pcss3t-theme-1">
            <input type="radio" name="pcss3t" checked id="tab1" class="tab-content-1">
            <label for="tab1"><i class="icon-home"></i>Home</label>


        <input type="radio" name="pcss3t" id="tab2" class="tab-content-2">
        <label for="tab2"><i class="icon-coffee"></i>MON</label>


        <input type="radio" name="pcss3t" id="tab_3" class="tab-content-3">
        <label for="tab_3"><i class="icon-coffee"></i>TUE</label>


        <input type="radio" name="pcss3t" id="tab4" class="tab-content-4">
        <label for="tab4"><i class="icon-coffee"></i>WED</label>


        <input type="radio" name="pcss3t" id="tab5" class="tab-content-5">
        <label for="tab5"><i class="icon-coffee"></i>THU</label>


        <input type="radio" name="pcss3t" id="tab6" class="tab-content-6">
        <label for="tab6"><i class="icon-coffee"></i>FRI</label>


        <input type="radio" name="pcss3t" id="tab7" class="tab-content-7">
        <label for="tab7"><i class="icon-coffee"></i>SAT</label>


        <input type="radio" name="pcss3t" id="tab8" class="tab-content-8">
        <label for="tab8"><i class="icon-coffee"></i>SUN</label>


        <input type="radio" name="pcss3t" id="tab9" class="tab-content-9">
        <label for="tab9"><i class="icon-coffee"></i>WEEK</label>


        <input type="radio" name="pcss3t" id="tab10" class="tab-content-10">
        <label for="tab10"><i class="icon-home"></i>STAFF</label>


        <ul>
          <li class="tab-content tab-content-1 typography">
            <h1>Home</h1>
            <p>Statistical Data
              <img src="{{ url_for('static', filename='images/week.png') }}" alt="Statistical Data">
            </p>
          </li>


          <li class="tab-content tab-content-2 typography">
            <h1>Monday Data</h1>
            <p>Statistical Data For Monday
              <img src="{{ url_for('static', filename='images/mon.png') }}" alt="Statistical Data">
            </p>
          </li>


          <li class="tab-content tab-content-3 typography">
            <h1>Tuesday Data</h1>
            <p>Statistical Data For Tuesday
              <img src="{{ url_for('static', filename='images/tue.png') }}" alt="Statistical Data">
            </p>
          </li>


          <li class="tab-content tab-content-4 typography">
            <h1>Wednesday Data</h1>
            <p>Statistical Data For Wednesday
              <img src="{{ url_for('static', filename='images/wed.png') }}" alt="Statistical Data">
            </p>
          </li>


          <li class="tab-content tab-content-5 typography">
            <h1>Thursday Data</h1>
            <p>Statistical Data For Thursday
              <img src="{{ url_for('static', filename='images/thu.png') }}" alt="Statistical Data">
            </p>
          </li>


          <li class="tab-content tab-content-6 typography">
            <h1>Friday Data</h1>
            <p>Statistical Data For Friday
              <img src="{{ url_for('static', filename='images/fri.png') }}" alt="Statistical Data">
            </p>
          </li>


          <li class="tab-content tab-content-7 typography">
            <h1>Saturday Data</h1>
            <p>Statistical Data For Saturday
              <img src="{{ url_for('static', filename='images/sat.png') }}" alt="Statistical Data">
            </p>
          </li>


          <li class="tab-content tab-content-8 typography">
            <h1>Sunday Data</h1>
            <p>Statistical Data For Sunday
              <img src="{{ url_for('static', filename='images/sun.png') }}" alt="Statistical Data">
            </p>
          </li>

          
          <!-- <li class="tab-content tab-content-9 typography">
            <h1>Week</h1>
            <p>Statistical Data For Week
              <img src="{{ url_for('static', filename='images/week.png') }}" alt="Statistical Data">
            </p>
          </li> -->


          <li class="tab-content tab-content-10 typography">
            <h1>Staff</h1>
            <p>Statistical Data For Staff
              <img src="{{ url_for('static', filename='images/week.png') }}" alt="Statistical Data">
            </p>
          </li>

          <li class="tab-content tab-content-9 typography">
            <div class="typography">
                <h1>Weekly Data</h1>


                <form action="/weekly_data" method="POST" class="screen-content">
                    <div class="form-group">
                        <label for="week">Day Of The Week:</label>
                        <input type="text" name="week" placeholder="Enter week" required>
                    </div>


                    <div class="form-group">
                        <label for="total_income">Total Income:</label>
                        <input type="number" name="total_income" placeholder="Enter total income" required>
                    </div>


                    <div class="form-group">
                        <label for="highest_spend">Highest Spend:</label>
                        <input type="number" name="highest_spend" placeholder="Enter highest spend" required>
                    </div>


                    <div class="form-group">
                        <label for="best_selling_item">Best Selling Item:</label>
                        <input type="text" name="best_selling_item" placeholder="Enter best selling item" required>
                    </div>


                    <div class="form-group">
                        <label for="worst_selling_item">Worst Selling Item:</label>
                        <input type="text" name="worst_selling_item" placeholder="Enter worst selling item" required>
                    </div>


                    <div class="form-group">
                        <label for="mvp_staff_member">MVP Staff Member:</label>
                        <input type="text" name="mvp_staff_member" placeholder="Enter MVP staff member" required>
                    </div>


                    <div class="form-group">
                        <label for="average_basket_spend">Average Basket Spend:</label>
                        <input type="number" name="average_basket_spend" placeholder="Enter average basket spend" required>
                    </div>


                    <button type="submit">Submit Data</button>
                </form>

                <img src="{{ url_for('static', filename='mainplot.png') }}" alt="Weekly Income Chart">

                <div class="existing-weekly-data">
                    {% for data in weekly_data %}
                        <div class="data">
                            <p><strong>Week {{ data.week }}</strong> - Total Income: ${{ data.total_income }} - Highest Spend: ${{ data.highest_spend }} - Best Selling Item: {{ data.best_selling_item }} - Worst Selling Item: {{ data.worst_selling_item }} - MVP Staff Member: {{ data.mvp_staff_member }} - Average Basket Spend: ${{ data.average_basket_spend }}</p>
                            <hr>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </li>
    </ul>
</div>
</div>
</body>
</html>